<!DOCTYPE html>
<html>
<head>
    <title>{{ .Title }}</title>
	<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css" rel="stylesheet">
    <style>
        /* Add any additional custom styles here */
    </style>
</head>
<body class="bg-gray-100 max-w-4xl mx-auto px-4">

<div class="header text-center py-8">
    <img src="/logos_n_norms/glua_big_orange_for_white_bg.svg" alt="Company Logo" class="mx-auto">
    <h1 class="text-3xl font-bold mt-4">{{ .Title }}</h1>
    <div class="social-media-grid my-4">
        <div class="grid grid-cols-3 gap-4 place-items-center">
            <!-- Loop through social media links from metadata -->
            {{ range .Params.social_media }}
                <a href="{{ .url }}"><img src="{{ .image }}" alt="{{ .name }}" class="w-8 h-8"></a>
            {{ end }}
        </div>
    </div>
    <div class="button-row flex flex-wrap justify-center">
        <!-- Loop through internal links from metadata -->
        {{ range .Params.internal_links }}
            <a href="{{ .url }}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 sm:px-2 md:px-4 rounded sm:mr-1 md:mr-4 mb-4">{{ .text }}</a>
        {{ end }}
    </div>
</div>

<div class="footer py-4 text-center">
    <!-- Add footer content here -->
    <div class="footer-images">
		<a href="https://www.ua.pt/deti">
			<img src="/img/ua_deti.svg" alt="Footer Image 1" class=" mx-2">
		</a>
		<!-- Add more footer images as needed -->
    </div>
</div>

</body>
</html>


<!--https://iconmonstr.com/license/-->
